<!DOCTYPE html>
<html lang="en-us">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
<header>
    <div class="container">
        <div class="brandname">
            AutoPunctuation
        </div>
        <h2>Languages Currently Supported: EN</h2>
    </div>
</header>
<div class="container">
    <form action="{{url_for('predict')}}" method="POST">
    <p style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Enter Your Unpunctuated text Here</p>
        <label>
            <textarea name="message" rows="10" cols="40"></textarea>
        </label>
        <br/>
    <input class="button" type="submit" value="Punctuate">
</form>
</div>
<div class="results">
    <h3 style="color:black;text-align: center;">
        <b>Your punctuation is as follows:</b>
    </h3>
    <div class="card">
        <h3 style="color:black;text-align: center;">
            {{ prediction }}
        </h3>
    </div>
</div>
</body>
</html>